autopep8==2.3.2
black==25.1.0
certifi==2025.1.31
charset-normalizer==3.4.1
click==8.2.0
execnet==2.1.1
Faker==37.1.0
idna==3.10
iniconfig==2.1.0
Jinja2==3.1.6
MarkupSafe==3.0.2
mypy_extensions==1.1.0
packaging==25.0
pathspec==0.12.1
platformdirs==4.3.8
pluggy==1.5.0
pycodestyle==2.13.0
pytest==8.3.5
pytest-html==4.1.1
pytest-metadata==3.1.1
pytest-xdist==3.6.1
python-dotenv==1.1.0
requests==2.32.3
tzdata==2025.2
urllib3==2.4.0
pydantic~=2.11.5
SQLAlchemy~=2.0.41
pytz~=2025.2
allure-python-commons~=2.14.2
playwright~=1.52.0